---
layout: default
title: Categories
---

{% comment %}
这里是注释，我觉得你应该引入你需要的css就可以了，而不需要把整个bootstrap都引入进来。
{% endcomment %}

<style>
    .badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #468847;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
</style>


<div class="">
  <div class="">
    {% for tag in site.categories %}
    <a class="badge" href="#{{ tag[0] | slugify }}" class="">{{ tag[0] }}</a>
    <code>{{ tag[0] }}</code>
    {% endfor %}
  </div>
  <hr/>
  <div class="">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="">
      {% for post in tag[1] %}
        <a class="" href="{{ site.baseurl }}{{ post.url }}">
      <li>{{ post.title }}<small class="">{{ post.date | date_to_string }}</small></li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
